* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;

}

html {}

body {
    width: 100%;
    min-height: 100%;
    display: flex;
    background-color: #d1d1d1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* NAVBAR------------------------------------ */
.navbar {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: azure;
    justify-content: center;
    font-weight: 200;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar h4 {
    font-size: 80%;
    font-weight: 300;
}

.contenidoNav {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultaIdioma h4 {
    text-decoration: underline;
    margin: 0;
}

.contenidoNav2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultaIdioma {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.consultaIdioma button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: inherit;

}

.idioma {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.idioma img {
    width: 20px;
    margin: 0 2px 0 2px;
}

.idioma p {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.logo {
    width: 40px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

/* LANDING----------------------------------- */
.subtitulos {
    font-size: 170%;
    margin: 40px 0px 20px 0px;
}

.contenedorGeneral {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-top: 30px;
    backdrop-filter: blur(10px);
    flex-wrap: nowrap;
    align-items: center;
    background-color: #4C29F3;
    box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.50);
    overflow-x: hidden;
    background: rgb(200, 200, 200);
    background-image: linear-gradient(45deg, rgb(33, 33, 33) 0%, transparent 73%), repeating-linear-gradient(90deg, rgba(127, 127, 127, 0.1) 0px, rgba(127, 127, 127, 0.1) 1px, transparent 1px, transparent 17px), repeating-linear-gradient(0deg, rgba(127, 127, 127, 0.1) 0px, rgba(127, 127, 127, 0.1) 1px, transparent 1px, transparent 17px), linear-gradient(0deg, rgb(33, 33, 33), rgb(33, 33, 33));
}

.contenedor0 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.contenidoContenedor2 {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contenedorBis {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.contenedorBis img {
    width: 120%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.contenedor2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contenedor3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulos h4 {
    background-color: #38A1FF;
    color: background-image: repeating-linear-gradient(137deg, rgb(32, 32, 32) 0px, rgb(32, 32, 32) 2px, rgb(33, 33, 33) 2px, rgb(33, 33, 33) 4px, rgb(34, 34, 34) 4px, rgb(34, 34, 34) 6px, rgb(33, 33, 33) 6px, rgb(33, 33, 33) 8px, rgb(36, 36, 36) 8px, rgb(36, 36, 36) 10px, rgb(35, 35, 35) 10px, rgb(35, 35, 35) 12px, rgb(33, 33, 33) 12px, rgb(33, 33, 33) 14px, rgb(32, 32, 32) 14px, rgb(32, 32, 32) 16px, rgb(36, 36, 36) 16px, rgb(36, 36, 36) 18px, rgb(34, 34, 34) 18px, rgb(34, 34, 34) 20px, rgb(35, 35, 35) 20px, rgb(35, 35, 35) 22px, rgb(35, 35, 35) 22px, rgb(35, 35, 35) 24px);
    margin: 0 0 30px 0;
    border-radius: 4px;
    padding: 1px;
}

.btnLanding {
    display: flex;
    width: 100%;
}

.btnLanding button {
    background-color: #212121;
    color: #7f7f7f;
    margin: 30px 15px 0 0;
    padding: 10px;
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    font-weight: 400;
    /* border: none; */
}

h1 {
    background: rgb(92, 255, 53);
    background: linear-gradient(90deg, rgba(92, 255, 53, 1) 0%, rgba(89, 255, 195, 1) 31%, rgba(24, 230, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    font-size: 450%;
}

.potencia {
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 160%;
    font-weight: 200;
}

/* CARRUSEL LOGOS--------------------------- */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    margin: 40px 0 30px 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 60px;
    margin: 0 40px;
}

/* MI SERVICIO------------------------ */
.containerVentajas {
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ventajas {
    width: 33%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 15px 60px 15px;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
}

.ventajas p {
    height: 70%;
    font-weight: 300;
    font-size: 14px;
}

.ventajas h5 {
    height: 20%;
    color: #2c188f;
    padding: 15px;
    font-size: 110;
    display: grid;
    align-content: center;
}

hr {
    width: 15vw;
    border: 1px solid #b1b1b1;
}

/* MI METODOLOGÍA */
.padreMetodologias {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: repeating-linear-gradient(137deg, rgb(32, 32, 32) 0px, rgb(32, 32, 32) 2px, rgb(33, 33, 33) 2px, rgb(33, 33, 33) 4px, rgb(34, 34, 34) 4px, rgb(34, 34, 34) 6px, rgb(33, 33, 33) 6px, rgb(33, 33, 33) 8px, rgb(36, 36, 36) 8px, rgb(36, 36, 36) 10px, rgb(35, 35, 35) 10px, rgb(35, 35, 35) 12px, rgb(33, 33, 33) 12px, rgb(33, 33, 33) 14px, rgb(32, 32, 32) 14px, rgb(32, 32, 32) 16px, rgb(36, 36, 36) 16px, rgb(36, 36, 36) 18px, rgb(34, 34, 34) 18px, rgb(34, 34, 34) 20px, rgb(35, 35, 35) 20px, rgb(35, 35, 35) 22px, rgb(35, 35, 35) 22px, rgb(35, 35, 35) 24px);
    align-items: center;
    margin: 40px 0 40px 0;
}

.padreMetodologias h2 {
    height: 10%;
}

.containerMetodologia {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    h5 {
        color: #ffffff;
        margin: 0;
    }
}

.doble {
    margin: 5px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.metodologia {
    width: calc(50% - 10px);
    margin: 5px;
    background-color: #ffffff;
    /* border: solid 1px #2c188f; */
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    display: inline-block;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);

    a {
        text-decoration: none !important;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        margin: 0;
    }
}

.tituloMetodologia {
    background-color: rgb(0, 131, 224);
    /* border-bottom: solid 1px rgb(0, 73, 125); */
    padding: 5px;
}

/*FORMATOS---------------------------------------------------  */
.formatos {
    display: flex;
    flex-direction: column;
}

.formatos h2 {
    font-size: 100%;
    margin-right: 6px;
    color: white;
    padding: 3px;
}

.formatos button {
    margin: 10px 5px 0 0;
    padding: 10px;
    border: none;
}

.reels {
    width: 50vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.gif1 {
    border-radius: 10px;
    width: 15%;
    margin-right: 30px;
    /* height: 20%; */
    object-fit: cover;
}

.gif2 {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border: solid black 5px;
    border-radius: 5px;
}

.gif3 {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border: solid black 5px;
    border-radius: 5px;
}

.gif4 {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border: solid black 5px;
    border-radius: 5px;
}

.reelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

.reelsContainer h2 {
    font-size: 240%;
    margin-bottom: 0;
}

.reelsContainer p {
    margin: -10px 0 10px 0;
    font-weight: 300;
    width: 90%;
}

.hrReels {
    width: 90%;
    border: 1px solid #b1b1b1;
    margin-top: 10px;
}

.botones {
    display: flex;
    flex-direction: row;
}

button a {
    color: white;
}

.botones button {
    background-color: #150034;
    padding: 10px;
    border: solid black;
    margin: 5px 10px 0 0;
    color: white;
}

button:hover {
    background-color: white;
    border: none;
    color: black;
}

/* OTROS FORMATOS---------------------------- */
.contenedorOtrosFormatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 60vw;
    /* height: 50vh; */
    margin: 10px 0 50px 0;
}

.tarjeta {
    width: 33%;
    /* height: 100%; */
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
    flex-grow: 1;

    hr {
        margin-bottom: 0;

    }

    h5 {
        margin: 15px 0 0 0;
    }

    button {
        width: 100%;
        padding: 5px 30px 5px 30px;
        border-radius: 5px;
        border: none;
        margin: 10px 0 20px 0;
    }
}

.revistaGif {
    width: 100%;
    height: 50% auto;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.tarjeta p {
    width: 90%;
    padding: 20px;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

/* PREGUNTAS FRECUENTES---------------- */
.accordion {
    width: 40vw;
    margin: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);

}


/* FORMULARIO ----------------------------*/
.formContainer {
    width: 55vw;
    height: 55vh;
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #004a7d;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
}

.infoForm {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px auto;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
}

.infoForm h2 {
    font-size: 200%;
    text-align: center;
}

.infoForm p {
    width: 80%;
    font-weight: 300;
}

.labelsForm {
    width: 60%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: antiquewhite;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.formContainer2 {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mensaje {
    height: 40%;
    width: 100%;
    font-size: 75%;
}

input,
textarea {
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 300px;
    padding: 10px;
}

.btnConsulta {
    background-color: black;
    color: white;
    padding: 5px 30px auto;
    margin: 15px;
    width: 70%;
}

.shortInput {
    height: 25px;
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 75%;
}


/* FOOTER------------------------------ */
.footer {
    width: 100vw;
    height: 18vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    color: white;
    font-weight: 200;
    background-image: repeating-linear-gradient(137deg, rgb(32, 32, 32) 0px, rgb(32, 32, 32) 2px, rgb(33, 33, 33) 2px, rgb(33, 33, 33) 4px, rgb(34, 34, 34) 4px, rgb(34, 34, 34) 6px, rgb(33, 33, 33) 6px, rgb(33, 33, 33) 8px, rgb(36, 36, 36) 8px, rgb(36, 36, 36) 10px, rgb(35, 35, 35) 10px, rgb(35, 35, 35) 12px, rgb(33, 33, 33) 12px, rgb(33, 33, 33) 14px, rgb(32, 32, 32) 14px, rgb(32, 32, 32) 16px, rgb(36, 36, 36) 16px, rgb(36, 36, 36) 18px, rgb(34, 34, 34) 18px, rgb(34, 34, 34) 20px, rgb(35, 35, 35) 20px, rgb(35, 35, 35) 22px, rgb(35, 35, 35) 22px, rgb(35, 35, 35) 24px);

}

.powered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.powered p {
    display: flex;
    margin: 0;
}

.footer img {
    width: 8%;
    margin-left: 10px;
}

.edito {
    margin-bottom: -30px;
}


.carousel-container {
    overflow: hidden;
    height: 75vh;
    /* Altura del carrusel */
}

.carousel {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del carrusel a vertical */
    animation: scroll 17s linear infinite;
    /* Velocidad y repetición del carrusel */
}

.slide {
    height: 10%;
    /* Ajusta la altura de cada slide */
    overflow: hidden;

    img {
        width: 50%;
        margin: 10px;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
        /* Mueve los slides verticalmente */
    }
}



.contenedorPasos {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(45deg, rgb(33, 33, 33) 0%, transparent 73%), repeating-linear-gradient(90deg, rgba(127, 127, 127, 0.1) 0px, rgba(127, 127, 127, 0.1) 1px, transparent 1px, transparent 17px), repeating-linear-gradient(0deg, rgba(127, 127, 127, 0.1) 0px, rgba(127, 127, 127, 0.1) 1px, transparent 1px, transparent 17px), linear-gradient(0deg, rgb(33, 33, 33), rgb(33, 33, 33));
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}

.columnaUno {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;

    p {
        font-size: 13px;
        font-weight: 300;
    }

    h5 {
        background: rgb(92, 255, 53);
        background: linear-gradient(90deg, rgba(92, 255, 53, 1) 0%, rgba(89, 255, 195, 1) 31%, rgba(24, 230, 255, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }
}

.paso {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.iconoPaso {
    width: 8%;
    margin-right: 20px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(92, 255, 53, 1) 0%, rgba(89, 255, 195, 1) 31%, rgba(24, 230, 255, 1) 100%);
}